body{
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
    background: url(resources/foto4.jpg)no-repeat;
    background-size:cover; 
    background-size: 100%;
    margin: 0;
}

.box{
    width: 988px;
    float: right;
}

.box ul li{
    width: 128px;
    float: left;
    margin: 10px auto;
    text-align: center;
    margin-left: 50px;
}

.box ul li a{
    text-decoration: none;
    color:white;
}

.box ul li:hover{
    background-color: rgb(157, 190, 157);
}

.box ul li a:hover{
color: white;
}

.wd{
    width: 300px;
    height: 539px;
    background-color: black;
    opacity: 0.9;
    padding: 55px;
}

.wd h1{
    text-align: center;
    text-transform: uppercase;
    font-weight:100px;
    text-decoration: line-through;
    text-decoration-color: rgb(157, 190, 157);
}

.wd h4{
    text-align: justify;
    color: darkgray;
    font-weight: normal;
}

.opt form , input[type="button"]{
    background-color: black;
    color: white;
    padding: 10px;
    margin:-14px auto;
    padding-left: 50px;
    padding-right: 50px;
    text-align: center;
}

form, input[type="button"]:hover{
    background-color: rgb(157, 190, 157);
}

.container{
    width: 100%;
    height: 100vh;
    background: #f2e9ff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container2{
    width: 100%;
    height: 100vh;
    background: #f2e9ff;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #111;
}

.container3{
    width: 100%;
    height:40vh;
    background: #f2e9ff;
    align-items: center;
    justify-content: center;  
    display: flex;
}

.container3 iframe{
    width: 100%;
    height: 400px;
}

.gallery{
    display: flex;
    align-items: center;
    justify-content: center;
}

.img-box{
    width: 100px;
    height: 500px;
    margin: 10px;
    border-radius: 50px;
    background: url(resources/foto1.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
    transition: width 0.5s;
}

.img-box:nth-child(2){
    background: url(resources/foto2.jpg);
    background-size: cover;
    background-position: center;    
}

.img-box:nth-child(3){
    background: url(resources/foto3.jpg);
    background-size: cover;
    background-position: center;    
}

.img-box:nth-child(4){
    background: url(resources/foto5.jpg);
    background-size: cover;
    background-position: center;    
}

.img-box h3{
    color: #fff;
    position: absolute;
    bottom: 0;
    left:30px;
    opacity: 0;
    font-size: 15px;
    transition: bottom 0.5s, opacity 0.5s;
}

.img-box:hover{
    width: 300px;
    cursor: pointer;
}

.img-box:hover h3{
    opacity: 1;
    bottom: 15px;
    font-style: italic;
}

.container h2{
    color:rgb(157, 190, 157);
    margin-right: 30px;
    font-family: 'Parisienne', cursive;
    font-size: 50px;
}

.container2 h2{
    color:rgb(157, 190, 157);
    margin-right: 30px;
    font-family: 'Parisienne', cursive;
    font-size: 50px;
}

.parallax{
    background: url('resources/lance-reis-yq-Yp_e-ctc-unsplash.jpg') no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    height: 550px;
    width: 100%;
}

.content-box{
    max-width: 850px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #fff;
    box-shadow: 0px 0px 19px 5px rgba(0, 0, 0, 0.19);
}

.left{ 
    height: 100%;
}

.right{
    padding: 35px 500px;
}

h3{
    position: relative;
    padding-bottom: 10px;
    margin-bottom: 10px;
    text-transform: uppercase;
}

.field{
    width: 100%;
    padding: 0.5rem 1 rem;
    outline: none;
    border: 2px solid rgba(0, 0, 0, 0);
    background-color: rgba(230, 230, 230, 0.6);
    font-size: 1.1rem;
    margin-bottom: 22px;
    transition: .3s;
}

.field:hover{
    background-color: rgba(0, 0, 0, 0.1);
}

.field:focus{
    background-color: #fff;
    border: 2px solid rgba(30, 85, 250, 0.47);
}

.area{
    min-height: 150px;
}

.btn{
    width: 100%;
    padding: 0.5rem 1rem;
    background-color: #2ecc71;
    cursor: pointer;
    outline: none;
    border: none;
    color: #fff;
    transition: .3s;
}

.btn:hover{
    background-color: #27ae60;
}

.contact-box2{
    max-width: 850px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 150px;
    margin-left: 100px;
}

.left2{
    height: 100%;
}

.right2{
    padding: 35px 500px;
}

.right2 h3{
    text-decoration: underline;
}

.parallax2{
    background: url('resources/foto13.jpg') no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    height: 550px;
    width: 100%;
}

footer{
    background: #111;
    bottom: 0;
    left: 0;
    right: 0;
    height: auto;
    width: 100%;
    font-family:'Open Sans', 'Helvetica Neue', sans-serif;
    padding-top: 40px;
    color: #fff;
}

.footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.footer-content h3{
    font-size: 1.8rem;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 3rem;
}

.footer-content p{
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;
}

.socials{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
}

.socials li{
    margin: 0 10px;
}

.footer-bottom{
    background: #111;
    width: 100%;
    padding: 20px 0;
    text-align: center;
}

.footer-bottom p{
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
}


.socials img{
    text-align: center;
    justify-content: center;
    width: 40px;
    margin-right: 40px;
}

